* {
    box-sizing: border-box;
    display: block;
    color: lightgrey;
    fill: currentColor;
    font-family: Courier New !important;
    font-size: 1.5em;
    word-wrap: break-word;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    border-style: none;
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: darkslategray;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1.5em);
    grid-gap: 5px
}